//-----------------------
// PATRON DE COLORES
//-----------------------
$texto:#111111;
$principal:#12AFAF;
$secundario:#009500;

html {
    font-size: 15px;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: $texto;
}

.bienvenidos {
    background: url("../images/fondo-encabezado.jpg") no-repeat center top;
    color: #fff;
    background-size: cover;
    background-attachment: fixed !important;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.encabezado {
    background: $texto;
    color: #fff;
    padding: .5rem 0;
    transition: all .5s ease;
}

.encabezado.fondo-menu {
    background: #064e4e;
    padding: 1rem 0;
}

.encabezado .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.encabezado .logo img {
    width: 150px;
    height: auto;
}

/*Estilos para el boton: buscar y menu*/

.boton-buscar,
.boton-menu {
    border: 0;
    font-size: 2rem;
    margin: 0;
    padding: 0 .5rem;
    background: transparent;
    color: #fff;
}

.boton-buscar:focus,
.boton-menu:focus {
    outline: 0;
}

.boton-buscar {
    margin-left: auto;
    margin-right: .8rem;
}

/*Estilos bloque buscar*/

#bloque-buscar {
    flex: 1 1 100%;
}

.contenedor-bloque-buscar {
    display: flex;
    height: 3rem;
    margin: 1rem 0;
}

.contenedor-bloque-buscar input[type="text"] {
    border: 0;
    border-radius: 5px 0 0 5px;
    padding: 1rem;
    flex: 1 1 auto;
}

.contenedor-bloque-buscar input[type="submit"] {
    border: 0;
    border-radius: 0 5px 5px 0;
    background: $principal;
    color: #fff;
    flex: 0 1 auto;
    padding: 0 1rem;
}

#menu-principal {
    flex: 1 1 100%;
}

#menu-principal ul {
    padding: 0;
    list-style: none;
    margin: 1rem 0 0 0;
}

#menu-principal ul a {
    display: block;
    padding: .8rem 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    border-top: 1px solid #8c8888;
    text-decoration: none;
}

#menu-principal ul a:hover,
#menu-principal ul li.active a {
    color: $principal;
}

.texto-encabezado {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.texto-encabezado .display-4 {
    margin-top: 4rem;
}

.texto-encabezado .btn-primary {
    margin-top: 1rem;
}

.btn-primary {
    color: #fff;
    background-color: $principal;
    border-color: transparent;
    transition: all .5s ease;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:hover {
    background-color: $secundario;
    border-color: transparent;
}

.flecha-bajar a {
    display: inline-block;
    color: #fff;
    font-size: 4rem;
    animation: flecha-animada 2s ease-in-out infinite;
}

@keyframes flecha-animada {
    from {
        transform: translateY(0);
    }

    50% {
        transform: translateY(6px);
    }

    to {
        transform: translateY(0);
    }
}

/*-----------------------------
SECCION AGENCIA
------------------------------*/

.agencia {
    background: $principal;
    color: #fff;
}

.agencia img {
    width: 80%;
    margin: 0 auto;
    display: block;
}

/*----------------------------
SECCION TU MEJOR ELECCIÓN
----------------------------*/

.tu-mejor-eleccion h2 span {
    color: $principal;
}

.tu-mejor-eleccion ul,
.tu-mejor-eleccion ul li {
    list-style: none;
}

.tu-mejor-eleccion ul li .fa {
    font-size: 2.3rem;
    background: $secundario;
    border-radius: 50%;
    width: 4.7rem;
    height: 4.7rem;
    line-height: 4.7rem;
    color: #fff;
}

.tu-mejor-eleccion ul li .contenedor-eleccion h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: .8rem;
}

.tu-mejor-eleccion ul li {
    min-height: 9rem;
}

/*-------------------------------
SECCION SERVICIOS
--------------------------------*/

.servicios {
    background: url("../images/fondo-servicios.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed !important;
    color: #fff;
}

.servicios article {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.servicios img {
    flex: 0 0 60px;
    overflow: hidden;
    margin-right: 1rem;
}

.servicios h3 {
    margin: 0;
    font-size: 1.1rem;
    flex: 1 1 auto;
}

.servicios h3 a {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.servicios h3 a::after {
    content: "\f054";
    font-family: FontAwesome;
    font-size: 2rem;
    margin-left: 1rem;
    opacity: .5;
    position: relative;
    left: 0;
    transition: all .5s ease;
}

.servicios h3 a:hover::after {
    left: -.5rem;
    opacity: 1;
    color: $principal;
}

/*---------------------------------
SECCION ÚLTIMOS PROYECTOS
------------------------------------*/

.ultimos-proyectos a {
    text-decoration: none;
}

.ultimos-proyectos a h4 {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: $texto;
}

.ultimos-proyectos .container {
    padding-left: 0;
    padding-right: 0;
}

.ultimos-proyectos .owl-nav {
    display: flex;
    justify-content: center;
    margin: .3rem 0;
}

.ultimos-proyectos .owl-prev,
.ultimos-proyectos .owl-next {
    font-size: 3rem;
    margin: 0 .5rem;
    color: $principal;
    transition: all .5s ease;
}

.ultimos-proyectos .owl-prev:hover,
.ultimos-proyectos .owl-next:hover {
    color: $secundario;
}

/*----------------------------------------
SECCION PIE DE PAGINA
-----------------------------------------*/

.piedepagina {
    background: $texto;
    color: #fff;
    text-align: center;
    font-size: .9rem;
}

.piedepagina .redes-sociales {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.piedepagina .redes-sociales a {
    color: #fff;
    font-size: 2rem;
    margin: 0 .5rem;
    opacity: .7;
    transition: all .5s ease;
}

.piedepagina .redes-sociales a:hover {
    opacity: 1;
}

.ir-arriba {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 3rem;
    color: rgb(18, 175, 175);
    text-decoration: none;
    z-index: 99999;
    line-height: 0;
    display: none;
    transition: all .5s ease;
}

.ir-arriba:hover,
.ir-arriba:focus {
    outline: 0;
    text-decoration: none;
    color: #fff;
}

/*-------------------------------------------
ESTILOS PAGINA NOSOTROS
--------------------------------------------*/

.paginas-internas .bienvenidos {
    height: 50vh;
}

.paginas-internas .ruta {
    background: $principal;
    color: #fff;
}

.paginas-internas .ruta a {
    color: #fff;
    text-decoration: underline;
}

.paginas-internas .ruta a:hover {
    text-decoration: none
}

.paginas-internas .panel .panel-heading {
    font-size: 1.2rem;
}

.paginas-internas .panel .panel-heading a {
    background: $principal;
    color: #fff;
    display: block;
    padding: 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: all .5s ease;
}

.paginas-internas .panel .panel-heading a:hover {
    background: $secundario;
    color: #fff;
}

/*-------------------------------------------
ESTILOS PAGINA SERVICIOS
--------------------------------------------*/

.paginas-internas .lista-servicios {
    background: $secundario;
}

.paginas-internas .lista-servicios .item-servicios {
    background: #ffffff;
    text-align: center;
    border: 5px solid #057705;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 1rem;
}

.paginas-internas .lista-servicios .item-servicios .fa {
    font-size: 6rem;
    color: $principal;
    margin-bottom: 1rem;
    transition: all 1s ease;
}

.paginas-internas .lista-servicios .item-servicios:hover .fa {
    transform: rotateY(360deg);
    transform-style: preserve-3d;
}

/*---------------------------------------------
EMPIEZAN LAS MEDIAS QUERIES
--------------------------------------------*/

@media (min-width: 768px) {
    #menu-principal {
        height: auto !important;
        display: block;
        flex: 0 1 auto;
        margin-left: auto;
        order: 1
    }

    #menu-principal ul {
        display: flex;
        margin: 0 0 0 0
    }

    #menu-principal ul li a {
        padding: .8rem;
        text-transform: capitalize;
        margin: 0 .3rem;
        border-top: 0px;
        border-bottom: 4px solid transparent;
        transition: all .5s ease
    }

    #menu-principal ul li.active a,
    #menu-principal ul li a:hover {
        color: #12AFAF;
        border-bottom: 4px solid
    }

    .boton-buscar {
        margin-left: 1rem;
        margin-right: 0;
        order: 2
    }

    #bloque-buscar {
        order: 3;
        position: absolute;
        width: 20rem;
        right: 3rem;
        top: 2.8rem;
        transition: all .5s ease
    }

    .servicios article {
        margin: 1rem 0;
        flex-direction: column;
        align-items: center;
        text-align: center
    }

    .servicios img {
        flex: 0 0 160px;
        overflow: hidden;
        margin-right: 0;
        margin-bottom: 1rem;
        transition: all 1s ease
    }

    .servicios article:hover img {
        transform: rotateY(360deg);
        transform-style: preserve-3d
    }

    .servicios h3 a::after {
        content: ""
    }

    .servicios h3 {
        margin: 0 0 .5rem 0;
        font-size: 1.5rem;
        flex: 0 1 auto;
        width: 100%
    }
    /*para corregir problema en internet explorer */
    .servicios h3 a {
        display: block;
        width: 100%
    }
    /*para que se visualice correctamente en internet explorer*/
    .servicios p {
        width: 100%
    }

    .servicios .btn-secondary {
        margin-top: auto
    }

    .paginas-internas .lista-servicios .col-md-4 {
        display: flex
    }

    .paginas-internas .lista-servicios .item-servicios {
        display: flex;
        flex-direction: column
    }

    .paginas-internas .lista-servicios .item-servicios .btn-primary {
        margin-top: auto
    }
}

@media (min-width: 992px) {
    html {
        font-size: 16px
    }

    .bienvenidos {
        background: url("../images/fondo-encabezado-grande.jpg") no-repeat center top;
        background-size: cover
    }

    .tu-mejor-eleccion ul li {
        display: flex;
        min-height: 7rem
    }

    .tu-mejor-eleccion ul li .fa {
        text-align: center;
        flex: 0 1 auto;
        margin-right: 1rem;
        transition: all 1s ease
    }

    .tu-mejor-eleccion ul li:hover .fa {
        transform: rotateY(360deg);
        transform-style: preserve-3d;
        background: #12AFAF
    }

    .contenedor-eleccion {
        flex: 1 0 0px
    }

    .tu-mejor-eleccion ul li .contenedor-eleccion h4 {
        margin-top: 0;
        font-size: 1rem
    }

    .tu-mejor-eleccion ul:first-child .fa {
        order: 1;
        margin-left: 1rem;
        margin-right: 0
    }

    .tu-mejor-eleccion ul li p {
        font-size: .85rem;
        width: 100%
    }

    .servicios {
        background: url("../images/fondo-servicios-grande.jpg") no-repeat center center;
        background-size: cover
    }
}
